<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<header id="header" class="fixed-top">
    <nav class="navbar navbar-dark bg-primary navbar-expand-xl">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png"
                                                    height="36"
                                                    class="d-inline-block ms-3 me-3 align-bottom">BIBLIOTEKA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link scrollto me-1" href="#start">Start</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle me-1" href="#" data-bs-toggle="dropdown" role="button">Operacje
                        na książkach</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/bookList}">Lista książek</a>
                        <a class="dropdown-item" href="template">Template</a>
                        <a class="dropdown-item" href="#">Opcja 3</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Opcja 4</a>
                        <a class="dropdown-item" href="#">Opcja 5</a>
                        <a class="dropdown-item" href="#">Opcja 6</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto me-1" href="#service">Usługi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto me-1" href="#product">Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scrollto me-1" href="#team">Zespół</a>
                </li>
            </ul>
            <div><a href="/logout">Logout</a></div>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">You have been logged out.</div>
            <form th:action="@{/}" method="post" class="d-flex ms-3">
                <input class="form-control me-2" type="text" name="user" placeholder="Login" aria-label="Login">
                <input class="form-control me-2" type="password" name="password" placeholder="Hasło" aria-label="Hasło">
                <button class="btn btn-light me-3" value="Log in" type="submit">Zaloguj</button>
            </form>
        </div>
    </nav>
</header>