<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<!--
* service
-->

<section th:fragment="service" id="service" class="services section-bg pb-5">
    <div class="container pb-5 mb-5">
        <div class="section-title">
            <h2 th:text="#{top}">Książki na topie</h2>
            <p th:text="#{popularne}">Najczęściej wypożyczane książki</p>
        </div>
        <div class="row pb-5">
            <div class="col-lg-4 col-md-6 d-flex ">
                <div class="tile">
                    <h4><a th:href="@{top/dramat}" th:text="#{dramat}">Dramat</a></h4>
                    <span style="float: left; margin-right: 10px;"><img src="/images/dramat.png"></span>
                    <p th:text="#{dramatOpis}">Dramat to gatunek literacki, który wzbudza emocje i stawia trudne pytania.
                    Bohaterowie dramatów zmierzają się z konfliktami, dylematami moralnymi i losowymi przeciwnościami
                        życiowymi.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mt-4 mt-md-0">
                <div class="tile">
                    <h4><a th:href="@{top/romans}" th:text="#{romans}">Romans</a></h4>
                    <span style="float: left; margin-right: 10px;"><img src="/images/romans.png"></span>
                    <p th:text="#{romansOpis}">Romans to gatunek literacki, który ukazuje uczucia, namiętność i romantyczne związki.
                    Bohaterowie romansów przeżywają miłość i emocje, walczą z przeszkodami i dążą do szczęścia.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mt-4 mt-lg-0">
                <div class="tile">
                    <h4><a th:href="@{top/epika}" th:text="#{epika}">Epika</a></h4>
                    <span style="float: left; margin-right: 10px;"><img src="/images/epika.png"></span>
                    <p th:text="#{epikaOpis}">Epika to gatunek literacki, który opowiada historie bohaterów, ich przygody i wyzwania.
                    Przeplatają się w nim wątki fabularne i morał, tworząc niezapomniane opowieści.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mt-4">
                <div class="tile">
                    <h4><a th:href="@{top/tragedia}" th:text="#{tragedia}">Tragedia</a></h4>
                    <span style="float: left; margin-right: 10px;"><img src="/images/tragedia.png"></span>
                    <p th:text="#{tragediaOpis}">Tragedia to gatunek literacki pełen dramatycznych wydarzeń, bólu i nieodwracalnych strat.
                    Porusza tematy ciężkie i trudne, ukazując ludzką naturę w obliczu nieuchronnych tragedii.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mt-4">
                <div class="tile">
                    <h4><a th:href="@{top/liryka}" th:text="#{liryka}">Liryka</a></h4>
                    <span style="float: left; margin-right: 10px;"><img src="/images/liryka.png"></span>
                    <p th:text="#{lirykaOpis}">Liryka jest gatunkiem poezji, w której wyrażane są osobiste emocje, uczucia i refleksje.
                    Jest to forma artystycznego wyrazu, w której słowa ukazują głębokie wnętrze człowieka.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex mt-4">
                <div class="tile">
                    <h4><a th:href="@{top/klasyka}" th:text="#{klasyka}">Klasyka</a></h4>
                    <span style="float: left; margin-right: 10px;"><img src="/images/klasyka.png"></span>
                    <p th:text="#{klasykaOpis}">Klasyczna literatura to najważniejsze i najcenniejsze dzieła w danym języku i okresie.
                    Są one ponadczasowe, głębokie i artystyczne.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
* product
-->

<section th:fragment="product" id="product" class="tile2 my-5">
    <div class="container">
        <div class="section-title">
            <h2 th:text="#{aktualnosci}">AKTUALNOŚCI</h2>
            <p th:text="#{aktualnosci1}">Wiadomości z świata książek</p>

        </div>

        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://wbpg.org.pl/wielki-maraton-czytelniczy/"><img
                            src="/images/wydarzenieCzytelnicze.png"
                            class="d-block w-100" width="700" height="550"
                            alt="Wydarzenie czytelnicze"></a>
                </div>
                <div class="carousel-item">
                    <a th:href="@{/librarianDay}"><img src="/images/dzienBibliotekarza2.jpg"
                                                       class="d-block w-100" width="500" height="550"
                                                       alt="Dzien bibliotekarza"></a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.empik.com/zapowiedzi/ksiazki"><img src="/images/ksiazkoweNowosci.jpg"
                                                                            class="d-block w-100" width="500"
                                                                            height="550"
                                                                            alt="Zapowiedzi wydawnicze"></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    </div>
</section>


<!--
* team
-->

<section th:fragment="team" id="team"
         style="background-image: url('/images/bcg.png'); background-size: cover; background-position: center;">
    <div class="container pb-5 mb-5">
        <div style="margin-top: 98px" class="section-title">
            <h2>Konstruktorsi</h2>
            <p th:text="#{tworcy}">Twórcy serwisu</p>
        </div>
        <div class="row pb-5 mb-5">
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="member">
                    <div class="member-img">
                        <a href="https://www.linkedin.com/in/kinga-biereg/" target="_blank"><img src="/images/kinga.png"
                                                                                class="img-fluid"
                                                                                alt="Kinga"></a>
                    </div>
                    <div class="member-name">
                        <h4>Kinga</h4>
                        <span>junior java dev.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="member">
                    <div class="member-img">
                        <a href="https://www.linkedin.com/in/przemys%C5%82aw-wenderholm/" target="_blank"><img src="/images/mikolaj.jpeg"
                                                                                class="img-fluid"
                                                                                alt="Mikołaj"></a>
                    </div>
                    <div class="member-name">
                        <h4>Mikołaj</h4>
                        <span>junior java dev.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="member">
                    <div class="member-img">
                        <a href="https://www.linkedin.com/in/miko%C5%82aj-malinowski-5290b3208/" target="_blank"><img src="/images/przemek.jpeg"
                                                                                class="img-fluid"
                                                                                alt="Przemek"></a>
                    </div>
                    <div class="member-name">
                        <h4>Przemek</h4>
                        <span>senior java dev.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex">
                <div class="member">
                    <div class="member-img">
                        <a href="https://www.linkedin.com/in/kozlowski-kamil/" target="_blank"><img src="/images/kamil.png"
                                                                                class="img-fluid"
                                                                                alt="Kamil"></a>
                    </div>
                    <div class="member-name">
                        <h4>Kamil</h4>
                        <span>junior java dev.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
