<html lang="pl" xmlns:th="http://www.thymeleaf.org">

        <!--
        * start
        -->

<section th:fragment="start" id="start" class="d-flex align-items-center">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1 class="library">BIBLIOTEKA</h1>
                <h2 class="library">Witamy w naszej internetowej bibliotece</h2>
                <form class="d-flex my-2"><input class="form-control" type="text" placeholder="Wyszukaj książkę...">
                    <button class="btn btn-primary" type="submit">Szukaj</button>
                </form>
            </div>
        </div>


        <div class="row tiles">

            <div class="col-md-6 col-lg-3 d-flex mb-5 mb-lg-0 d-flex justify-content-center">
                <div class="tile1">
                    <h4 class="title"><a href=""><img class="img-fluid" src="/images/add.png"></a></h4>
                    <p class="description text-center">Dodaj książkę</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex mb-5 mb-lg-0 d-flex justify-content-center">
                <div class="tile1">
                    <h4 class="title"><a href=""><img class="img-fluid" src="/images/borrow.png"></a></h4>
                    <p class="description text-center">Wypożycz książkę</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex mb-5 mb-lg-0 d-flex justify-content-center">
                <div class="tile1">
                    <h4 class="title"><a href=""><img class="img-fluid" src="/images/back.png"></a></h4>
                    <p class="description text-center">Zwróć książkę</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex mb-5 mb-lg-0 d-flex justify-content-center">
                <div class="tile1">
                    <h4 class="title"><a th:href="@{/bookList}"><img class="img-fluid" src="/images/list.png"></a></h4>
                    <p class="description text-center">Lista książek</p>
                </div>
            </div>
        </div>
    </div>
</section>


        <!--
        * service
        -->

<section th:fragment="service" id="service" class="services section-bg pb-5">
    <div class="container pb-5 mb-5">

        <div class="section-title">
            <h2>Nasze usługi</h2>
            <p>Opis sekcji</p>
        </div>

        <div class="row pb-5">
            <div class="col-lg-4 col-md-6 d-flex ">
                <div class="tile">
                    <h4><a href="#">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex mt-4 mt-md-0">
                <div class="tile">
                    <h4><a href="#">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex mt-4 mt-lg-0">
                <div class="tile">
                    <h4><a href="#">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex mt-4">
                <div class="tile">
                    <h4><a href="#">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex mt-4">
                <div class="tile">
                    <h4><a href="#">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex mt-4">
                <div class="tile">
                    <h4><a href="#">Lorem Ipsum</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                </div>
            </div>

        </div>

    </div>
</section>