body {
    font-family: 'Lato', sans-serif;
    color: #444444;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    color: deepskyblue;
    text-decoration: none;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
}

.navbar .navbar-nav .nav-link:hover {
    color: lightskyblue;
}

.navbar .navbar-brand {
    font-size: 26px;
}

.dropdown-menu {
    background-color: #0d6efd;
    color: white;
}

.dropdown-menu a {
    color: white;
}


#start {
    width: 100%;
    height: 100vh;
    height: 1900px;
    position: relative;
    background-image: url("/images/bg.png");
    /*
    background-image: url("/static/images/bg.png");
    */
    background-size: 500px;
    padding-bottom: 230px;
}

@media (max-height: 1600px) {
    #start {
        height: auto;
    }
}

h1 {
    margin-top: 90px;
    padding-top: 60px;
    position: relative;
    font-size: 58px;
    font-weight: 900;
    line-height: 72px;
    color: dodgerblue;
}

h2 {
    color: #5e5e5e;
    margin: 20px 0 0 0;
    font-size: 22px;
}

.tiles {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tile1 {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    justify-content: center;
    -webkit-box-shadow: 5px 5px 25px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 25px -4px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 25px -4px rgba(66, 68, 90, 1);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tile1 img {
    height: 150px;
}

#start .tile1:hover {
    transform: scale(1.08);
}

.tile {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: white;
    -webkit-box-shadow: 5px 5px 25px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 25px -4px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 25px -4px rgba(66, 68, 90, 1);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 300px;


}

.tile2 {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background: #f8fbfe;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}


.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: dodgerblue;
}

.section-title p {
    margin-bottom: 0;
    font-size: 14px;
    color: gray;
}

.member {
    margin-bottom: 50px;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 5px 5px 25px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 5px 5px 25px -4px rgba(66, 68, 90, 1);
    box-shadow: 5px 5px 25px -4px rgba(66, 68, 90, 1);

}

.member h4 {
    color: dodgerblue;
}

.member-name {
    font-size: 14px;
    color: gray;
    padding-bottom: 10px;
}


#footer {
    color: #444444;
    font-size: 14px;
    background: #f8fbfe;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
    padding-top: 80px;
    margin-top: 50px;
    padding-bottom: 10px;
}

#service {
    padding-top: 120px;
}

#product {
    padding-top: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#team {
    padding-top: 120px;
    padding-bottom: 41px
}


.yt a {
    float: left;
    margin: 10px;
    color: #cccccc;

}

.yt a:hover {
    color: #d94348;
    cursor: pointer;
}

.fb a {
    float: left;
    margin: 10px;
    color: #cccccc;

}

.fb a:hover {
    color: #4668b3;
    cursor: pointer;
}

.gplus a {
    float: left;
    margin: 10px;
    color: #cccccc;
}

.gplus a:hover {
    color: #171515;
    cursor: pointer;
}

.tw a {
    float: left;
    margin: 10px;
    color: #cccccc;
}

.tw a:hover {
    color: #3095d3;
    cursor: pointer;
}

.in a {
    float: left;
    margin: 10px;
    color: #cccccc;
}

.in a:hover {
    color: #0e76a8;
    cursor: pointer;
}

.copyright {
    font-size: 14px;
}

#isa img {
    width: auto;
    height: auto;
}

#isa:hover img {
    content: url('/images/isaHover.png');
    /*
    content: url('/static/images/isaHover.png');
    */
}



.footer-links {
    padding-right: 2px;
    font-size: 18px;
    line-height: 2;
}

.cntentTemplate {
    margin-top: 90px;
    padding-top: 60px;
    position: relative;
    font-size: 26px;
}
.cntentTemplate h1 {
    text-align: center;
    font-size: 44px;
    color: dimgray;
    margin-top: 0;
    padding-top: 0;
}

#table {
    background-color: white;
    font-size: 20px;

}
#log {
    color: white;
    font-size: 20px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 5px 5px;
    text-decoration: none;
}

.pagination a.active {
    background-color: gray;
    color: white;
    border-radius: 2px;
}