<!doctype html>

<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{/fragments/head::head}"></head>

<body>

<header th:replace="~{/fragments/header::login}"></header>

<header th:replace="~{/fragments/header::logout}" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"></header>

<div sec:authorize="isAuthenticated()">
    <section th:replace="~{fragments/startSection::start}"></section>
</div>

<div sec:authorize="!isAuthenticated()">
    <section th:replace="~{fragments/startSection::logoff}"></section>
</div>

<main th:replace="~{/fragments/main::main}" sec:authorize="!hasRole('ROLE_ADMIN')"></main><!---->

<footer th:replace="~{/fragments/footer::footerFull}" sec:authorize="!hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"></footer>

<footer th:replace="~{/fragments/footer::footerHalf}" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')"></footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>





<!--
<main>
    <div  sec:authorize="isAuthenticated()" th:align="center">
        Jestem zalogowany
        <div>
            <p>Authenticated username:</p>
            <div sec:authentication="name">TO JEST NAME ?</div>
        </div>
        <div>
            <p>Authenticated user roles:</p>
            <div sec:authentication="principal.authorities">TO JEST ROLE ?</div>
        </div>
    </div>
    <div th:align="center" th:object="${username}">
        <label th:text="'Witaj ' + ${username}"></label>
    </div>
</main>-->
