<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Promoceny - zbiór najlepszych promocji</title>
    <style>
        section{
            width: 100%;
        }
        h1{
            text-align: center;
        }
        table {
            width: 90%; margin-left: auto; margin-right: auto;
            text-align: center;
            border: 1px solid black;
            border-collapse: collapse;

        }

        td {
            border: 1px solid black;
            padding: 20px;
        }
    </style>
</head>
<body>
<h1>Lista książek w naszej bibliotece</h1>
<section>
    <table>
        <thead>
        <tr>
            <td >Nr</td>
            <td >Tytuł</td>
            <td>Autro</td>
            <td>Kategoria</td>
            <td>Status</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book,staus:${books}" th:object="${book}">
            <td th:text="${staus.count}"></td>
            <td th:text="*{title}"></td>
            <td th:text="|*{author}|"></td>
            <td th:text="|*{category} |"></td>
            <td th:text="*{state}? 'Dostępna' : 'Nie dostepna'"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>