<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User List<span class="navbar-brand" th:text="${user}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Login</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Person Books</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="currentUser : ${users}" th:if="${currentUser.login} == ${user}">
        <td th:text="${currentUser.login}"></td>
        <td th:text="${currentUser.password}"></td>
        <td th:text="${currentUser.firstName}"></td>
        <td th:text="${currentUser.secondName}"></td>
        <td th:text="${currentUser.email}"></td>
        <td>
            <ul>
                <li th:each="book : ${currentUser.personBooks}">
                    <span th:text="${book.title}"></span> -
                    <span th:text="${book.author}"></span> -
                    <span th:text="${book.category}"></span> -
                    <span th:text="${book.state}"></span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>