<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Security Application example</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<!--    <link th:href="@{/css/style.css}" rel="stylesheet"/>-->
</head>
<body>
    <header>
        <h1>Spring Security Application example</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/user/new">Rejestracja użytkownika</a></li>
            <li><a href="/user/login">Logowanie</a></li>
            <li><a href="/info">O nas</a></li>
            <li sec:authorize="isAuthenticated()">
                <form method="post" th:action="@{/logout}">
                    <button type="submit" name="submit" value="value">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <main>
        <!-- Treść strony głównej -->
        <div  sec:authorize="isAuthenticated()" th:align="center">
            Jestem zalogowany
            <div>
                <p>Authenticated username:</p>
                <div sec:authentication="name"></div>
            </div>
            <div>
                <p>Authenticated user roles:</p>
                <div sec:authentication="principal.authorities"></div>
            </div>
        </div>
        <div th:align="center" th:object="${username}">
            <label th:text="'Witaj ' + ${username}"></label>
        </div>
    </main>
</body>
</html>
