<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>Login</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Person Books</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.secondName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.personBooks}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>