<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <h1>Spring Security Application example</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/user/login">Logowanie</a></li>
    </ul>
</nav>
<div id="space"></div>
<div class="form-container">
    <form method="post" th:action="@{/user/new}" th:object="${user}">
        <h2>Rejestracja użytkownika</h2>
        <div id="error" th:text="${usernameAlreadyTaken}"></div>
        <div class="form-group">
            <label for="input-username">Nazwa użytkownika</label>
            <input type="text" id="input-username" name="username" th:field="*{username}" required>
        </div>
        <div id="error2" th:text="${userEmailAlreadyTaken}"></div>
        <div class="form-group">
            <label for="input-email">Adres email</label>
            <input type="email" id="input-email" name="email" th:field="*{email}" PATTERN="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
        </div>
        <div id="error3" th:text="${userPasswordsDoNotMatch}"></div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Powtórz hasło</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="form-group">
            <label for="role">Rola</label>
            <input type="role" id="role" name="role" required th:field="role">
        </div>
        <button type="submit" class="btn btn-primary">Zarejestruj</button>
    </form>
</div>
</body>
</html>
